body,
html {
	height: 100vh;
	overflow: hidden;
}

body {
	padding-top: 3.375rem;
}

.#{$prefix}wrapper {
	background-color: $os-base-color-lighter;
	background-repeat: no-repeat;
	background-image: url('../img/cover-ring.jpg');
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
	position:relative;
}