.btn {

  &:focus {
    box-shadow: none;
  }
}

.os-btn {
  background-color: $os-base-color;

  &:hover {
    background-color: $os-base-color-light;
  }
}

.os-btn-plain {
  color:inherit;

  &:hover {
    color:$os-base-color-light !important;
  }

}