.navbar-brand {

  &.btn {
    padding: 0;
  }

  span {
    font-size: $os-font-size-regular;
  }
}

.os-btn {
  background-color: $os-base-color;

  &:hover {
    background-color: $os-base-color-light;
  }
}