@keyframes slidingDivUpOnPageLoad {
	0% 		{bottom: -300px;}
	100% 	{bottom: 400px}
}

.showcase {
	position: absolute;
	visibility: hidden;
	bottom:-300px;
	transition: all 0.8s ease-in-out 0.2s;
	text-align: center;
	padding: 70px;
	background-color: rgba(10, 10, 40, 0.4);
	left: calc(50% - 570px);
	width:100%;
	max-width: 1140px;
	transform: scale(0.5);
}

.showDiv {
	visibility:  visible;
	transform: scale(1);
	animation: slidingDivUpOnPageLoad 0.8s 0.2s forwards;

}